<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>News</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

  <!-- CSS here -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/css/ticker-style.css" />
  <link rel="stylesheet" href="/css/flaticon.css" />
  <link rel="stylesheet" href="/css/slicknav.css" />
  <link rel="stylesheet" href="/css/animate.min.css" />
  <link rel="stylesheet" href="/css/magnific-popup.css" />
  <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
  <link rel="stylesheet" href="/css/themify-icons.css" />
  <link rel="stylesheet" href="/css/slick.css" />
  <link rel="stylesheet" href="/css/nice-select.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/image.css" />
  <link rel="stylesheet" href="/css/slider.css" />
</head>

<body>
  <%- include('./partials/header.ejs') %>
    <main>
      <div class="row justify-content-center mt-4">
        <div class="card w-50 text-left shadow-lg">
          <div class="card-body">
            <h4 class="text-center card-title mb-4 mt-2">Thay đổi mật khẩu</h4>
            <hr>
            <form id="profileForm" action="edit-password" method="POST">
              <!-- User Information Rows -->
              <div class="row mb-4">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="password" class="font-weight-semibold">Password</label>
                    <input type="password" class="form-control <%= validationErrors.find(e => e.path === 'password') ? 'is-invalid' : '' %>" id="password" name="password" placeholder="Nhập mật khẩu hiện tại" value="<%= oldInput.password ?? '' %>" required>
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="newPassword" class="font-weight-semibold">New password</label>
                    <input type="password" class="form-control <%= validationErrors.find(e => e.path === 'newPassword') ? 'is-invalid' : '' %>" id="newPassword" name="newPassword" placeholder="Nhập mật khẩu mới" value="<%= oldInput.newPassword ?? '' %>" required>
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="confirmPassword" class="font-weight-semibold">Confirm password</label>
                    <input type="password" class="form-control <%= validationErrors.find(e => e.path === 'confirmPassword') ? 'is-invalid' : '' %>" id="confirmPassword" name="confirmPassword" placeholder="Nhập lại mật khẩu mới" value="<%= oldInput.confirmPassword ?? '' %>" required>
                  </div>
                </div>
              </div>

              <div class="text-danger text-center mb-4"><%= errorMessage ? errorMessage : '' %></div>

              <div class="text-center mb-4">
                <button type="submit" id="editButton" class="btn btn-primary">
                  <i class="fas fa-check mr-2"></i>Lưu
                </button>
              </div>
          </div>
        </div>
      </div>
    </main>


    <%- include('./partials/footer.ejs') %>

      <!-- JS here -->

      <!-- All JS Custom Plugins Link Here here -->
      <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
      <!-- Jquery, Popper, Bootstrap -->
      <script src="/js/vendor/jquery-1.12.4.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <!-- Jquery Mobile Menu -->
      <script src="/js/jquery.slicknav.min.js"></script>

      <!-- Jquery Slick , Owl-Carousel Plugins -->
      <script src="/js/owl.carousel.min.js"></script>
      <script src="/js/slick.min.js"></script>
      <!-- Date Picker -->
      <script src="/js/gijgo.min.js"></script>
      <!-- One Page, Animated-HeadLin -->
      <script src="/js/wow.min.js"></script>
      <script src="/js/animated.headline.js"></script>
      <script src="/js/jquery.magnific-popup.js"></script>

      <!-- Breaking New Pluging -->
      <script src="/js/jquery.ticker.js"></script>
      <script src="/js/site.js"></script>

      <!-- Scrollup, nice-select, sticky -->
      <script src="/js/jquery.scrollUp.min.js"></script>
      <script src="/js/jquery.nice-select.min.js"></script>
      <script src="/js/jquery.sticky.js"></script>

      <!-- contact js -->
      <script src="/js/contact.js"></script>
      <script src="/js/jquery.form.js"></script>
      <script src="/js/jquery.validate.min.js"></script>
      <script src="/js/mail-script.js"></script>
      <script src="/js/jquery.ajaxchimp.min.js"></script>

      <!-- Jquery Plugins, main Jquery -->
      <script src="/js/plugins.js"></script>
      <script src="/js/main.js"></script>
      <script src="/js/head.js"></script>
      <script src="/js/category_selections.js"></script>
</body>

</html>