<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>News</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/ticker-style.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/slicknav.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/css/slick.css" />
    <link rel="stylesheet" href="/css/nice-select.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    
    <main class="container mt-5">
      <div class="row">
        <!-- Latest News Section -->
        <div class="col-md-8">
          <h2>Latest News</h2>
          <div class="row">
            <% posts.slice(0, 5).forEach(function(post) { %>
              <div class="col-md-6 mb-4">
                <div class="card">
                  <!-- Display the image if imageUrl exists, otherwise use a placeholder -->
                  <img 
                    src="<%- post.imageUrl ? post.imageUrl : '/img/default-placeholder.png' %>" 
                    class="card-img-top" 
                    alt="<%- post.title %>">
                  <div class="card-body">
                    <h5 class="card-title"><%- post.title %></h5>
                    <p class="card-text"><%- post.content.substring(0, 100) %>...</p>
                    <a href="/posts/<%- post._id %>" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
    
      </div>
    

      </div>
    </main>
    

    <%- include('./partials/footer.ejs') %>

    <!-- JS here -->
    <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.slicknav.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/gijgo.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/animated.headline.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/jquery.ticker.js"></script>
    <script src="/js/site.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
